In [31]:
a= ("Twinkle Twinkle little star \n \tHow I wonder what you are\n \t \tup above the world so high \n \t \tLike the diamond in th sky \nTwinkle Twinkle little star \n \tHow I wonder what you are");

print(a)

Twinkle Twinkle little star
 	How I wonder what you are
 	 	up above the world so high
 	 	Like the diamond in th sky
Twinkle Twinkle little star
 	How I wonder what you are

In [34]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [47]:
import datetime
current_time = datetime.datetime.now() 
print(current_time)

2022-01-01 16:31:44.773018

In [58]:
from math import pi
i = float(input ("Input radius of the circle: "));
print("The area of the corcle is: ", str(pi*i**2))

Input radius of the circle: 5
The area of the corcle is:  78.53981633974483

In [61]:
f = input("Enter first name: ");
l = input("Enter last name: ");
print("Reverse order is: ", l,f)

Enter first name: Ahmad
Enter last name: Khalid
Reverse order is:  Khalid Ahmad

In [62]:
f = float(input("Enter first number: "));
l = float(input("Enter second number: "));
sum = f+l;
print(sum)

Enter first number: 5
Enter second number: 10
15.0